  <%# アバウトセクションの題字 %>
  <div id="canvas-txt">
    <p>About Loop17</p>
  </div>

  <%# このサイトについて %>
  <p class="about-heading">#17秒チャレンジ</p>

  <div class="about-box">
    <p class="about-txt-heading">俳句にヒントを得た音声投稿アプリ</p>
    <p class="about-txt">「五・七・五」の俳句は、17音という限られた中だからこそ独自の創造性が発揮されます。では、時間芸術である音楽に「17秒以内」という極端な制限を加えたら？…そんな空想からこのアプリケーションは生まれました。</p>
    <br>
    <p class="about-txt-heading">すべてのクリエイターのために</p>
    <p class="about-txt">音楽家、歌手、声優、詩人、歌人、俳人、ジャンルは自由です。</p>
    <p class="about-txt">①まずは17秒以内のオリジナル音声データをアップロードしてみましょう。</p>
    <p class="about-txt">②他のクリエイターたちの作品を聴いて、気になった人のSNSをフォローしましょう。</p>
  </div>
