  <%# アバウトセクションの題字 %>
  <div id="canvas-txt">
    <p>About Loop17</p>
  </div>

  <%# このサイトについて %>
  <p class="about-heading">#17秒チャレンジ</p>

  <div class="about-box">
    <p class="about-txt">「五・七・五」の俳句は、17音という限られた中だからこそ独自の創造性が発揮されます。</p>
    <p class="about-txt">では、時間芸術である音楽に「17秒以内」という極端な制限を加えたら？…そんな空想からこのアプリケーションは生まれました。</p>
    <p class="about-txt">まずは17秒以内のオリジナル音声データをアップロードしてみましょう。</p>
    <p class="about-txt">そしてクリエイターたちの作品を聴いて、気になった人のSNSをフォローしましょう。</p>
  </div>
