<div id="my-profile-box">
  <div class="my-profile-image">
    <%= attachment_image_tag current_user, :profile_image, :fill, 1000, 1000, format: 'jpeg' %>
  </div>

  <span id="my-profile-txt">
    <ul style="list-style: none;">
      <li>なまえ: <%= current_user.name %></li>
      <li>キープされている数: <%= current_user.followers.count %></li>
    </ul>
  </span>
  <span id="sp-circle4"></span>
</div>