  <% @users.shuffle.first(17).each do |user| %>
    <div id="" class="user-dots">
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      <div class="play-btn">
        <i class="fas fa-play-circle fa-3x"></i>
      </div>
    </div>
  <% end %>