
<%# 第1エリア %>
<div id="canvas-wrap">
  <canvas id="canvas-container"></canvas>
  <div id="canvas-txt">
    <p>Loop17</p>
    <div id="hamburger-menu">
      <%= render'users/hamburger' %>
    </div>
  </div>
</div>

<%# 第2エリア %>
<div id="canvas-wrap">
  <p>第2エリア</p>
</div>

<%# 第3エリア %>
<div id="canvas-wrap">
  <p>第3エリア</p>
</div>

<%# 第4エリア（マイプロフィール） %>
<div id="canvas-wrap">
  <p>第4エリア（マイプロフィール）</p>
</div>

<%# 第5エリア（このサイトについて） %>
<div id="canvas-wrap">
  <p>第5エリア（このサイトについて）</p>
</div>