// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ハンバーガーメニュー
  #hamburger {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 89%;
    top: 5%;
    z-index: 99999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hamburger::after {
    border-radius: 40%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background:linear-gradient(
      to bottom,
      #ee88aa,
      rgba(250, 238, 255, 0.3) 90%,
      rgba(250, 238, 255, 0.5)
    );
    animation: color-fade 3s infinite linear;
  }

  #circle1,
  #circle2,
  #circle3 {
    opacity: 0.4;
    position: absolute;
    background: #0af;
    width: 120px;
    height: 120px;
    transform-origin: 50% 47%;
    border-radius: 40%;
    animation: rotation 3s infinite linear;
  }

  #circle2 {
    opacity: 0.2;
    background: #ff0;
    animation: rotation 5s infinite linear;
  }

  #circle3 {
    animation: rotation 2.5s infinite linear;
  }

  #hamburger-title {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    line-height: 2rem;
    letter-spacing: 0.15em;
    animation: text-fade 300ms infinite linear;
  }

  /* 回転アニメーション */
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* ピンク色の背景のアニメーション */
  @keyframes color-fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }

  /* 点滅のアニメーション */
  @keyframes text-fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.9;
    }
    75% {
      opacity: 0.6;
    }
  }



//ハンバーガーメニュー（展開後:SPメニュー）
  #sp-hamburger {
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 70%;
    top: 7%;
    z-index: 99999;
  }

  #sp-hamburger::after {
    border-radius: 40%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background:linear-gradient(
      to bottom,
      #ee88aa,
      rgba(250, 238, 255, 0.3) 90%,
      rgba(250, 238, 255, 0.5)
    );
    animation: color-fade 3s infinite linear;
  }

  #sp-circle1,
  #sp-circle2,
  #sp-circle3 {
    opacity: 0.4;
    position: absolute;
    background: #0af;
    width: 400px;
    height: 400px;
    transform-origin: 50% 47%;
    border-radius: 40%;
    animation: rotation 3s infinite linear;
  }

  #sp-circle2 {
    opacity: 0.2;
    background: #ff0;
    animation: rotation 5s infinite linear;
  }

  #sp-circle3 {
    animation: rotation 2.5s infinite linear;
  }

  #sp-hamburger-title {
    position: absolute;
    top: 23px;
    width: 100%;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    line-height: 2rem;
    letter-spacing: 0.15em;
    animation: text-fade 300ms infinite linear;
  }

  #sp-hamburger-title li {
    text-align: center;
    margin: 30px;
  }

  #sp-hamburger-title a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  /* 回転アニメーション */
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* ピンク色の背景のアニメーション */
  @keyframes color-fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }

  /* 点滅のアニメーション */
  @keyframes text-fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.9;
    }
    75% {
      opacity: 0.6;
    }
  }




//ハンバーガーメニュー内のジャンル検索
  #genres-menu {
    cursor: pointer;
  }

  .search-form {
    display: none;
  }



  @media screen and (max-width: 425px) {
    #hamburger {
      top: 80%;
      left: 5%;
    }
    #sp-hamburger {
      top: 30%;
      left: 0;
    }
  }
