// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//トップページ
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .top-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #F8F8FF;
  }



  //波
  .waves {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% {
      transform: translate3d(85px,0,0);
    }
  }



//トップページのメインタイトル
  .main-title {
    left: 100%;
    font-size: 300px;
    letter-spacing: -15px;
    width: 100%;
    color: #FFCD58;
    font-family: 'Josefin Sans', sans-serif;
    background: -webkit-linear-gradient(left, #ba65fd, #5aa5f8, #00d8ee);
    position: absolute;
    z-index: 2;
  }



//画像とサブタイトル
  .top-img {
    position: absolute;
    top: 100%;
    left: 2%;
    border-radius: 5%;
  }

  .sub-title-box {
    position: absolute;
    top: 55%;
    left: 100%;
    width: 20%;
    height: 40px;
    background: -webkit-linear-gradient(left, #ba65fd, #5aa5f8, #00d8ee);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-title {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-style: oblique;
    color: #fff;
    animation: text-fade 300ms infinite linear;
  }



//「はじめる」と「ログイン」リンク
  .content{
    position: absolute;
    display: none;
    top: 85%;
    left: 60%;
    width: 100%;
  }

  .js-modal-open {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.7rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #00d8ee;
    cursor: pointer;
  }

  .top-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .modal__bg{
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  .modal__content{
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64% 36% 47% 53% / 45% 65% 35% 55%;
  }


  @media screen and (max-width: 425px) {
    .main-title {
      font-size: 100px;
      letter-spacing: -5px;
    }
    .top-img {
      position: absolute;
      left: -80%;
    }
    .sub-title-box {
      width: 60%;
      top: 38%;
    }
    .content {
      position: absolute;
      top: 18%;
      left: 18%;
    }
    .video-content-top {
      width: 50%;
      left: 40%;
      margin: 30px;
    }
    .js-modal-open {
      font-size: 30px;
      padding: 10px;
    }
    .modal__content {
      transform: scale(1.5, 1.5);
      top: 0;
      left: 0;
    }
  }
