// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//トップページ
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .top-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }



//トップページのメインタイトル
  .main-title {
    left: 100%;
    font-size: 300px;
    letter-spacing: -15px;
    width: 100%;
    color: #FFCD58;
    font-family: 'Josefin Sans', sans-serif;
    background: -webkit-linear-gradient(left, #ba65fd, #5aa5f8, #00d8ee);
    position: absolute;
    z-index: 2;
  }



//画像とサブタイトル
  .top-img {
    position: absolute;
    top: 100%;
    left: -10%;
  }

  .sub-title-box {
    position: absolute;
    top: 55%;
    left: 100%;
    width: 20%;
    height: 40px;
    background: -webkit-linear-gradient(left, #ba65fd, #5aa5f8, #00d8ee);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-title {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-style: oblique;
    color: #fff;
    animation: text-fade 300ms infinite linear;
  }



//「はじめる」と「ログイン」リンク
  .content{
    position: absolute;
    display: none;
    top: 70%;
    left: 70%;
  }

  .line {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #5aa5f8;
  }

  .js-modal-open {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #00d8ee;
    display: block;
  }

  .top-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .modal__bg{
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  .modal__content{
    top: 50%;
    left: 50%;
    width: 30%;
    height: 70%;
    transform: translate(-50%,-50%);
    background: #FFCD58;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60% 80% / 40% 80%;
  }