// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//マイプロフィールの顔丸
  .my-profile-image {
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 1;
  }



//マイプロフィールの基本情報
  #my-profile-box {
    position: relative;
    width: 400px;
    height: 400px;
    left: 30%;
    top: 100px;
  }



//マイプロフィールの基本情報ボックス
  #sp-circle4 {
    z-index: 2;
    opacity: 0.4;
    position: absolute;
    background: #0af;
    width: 400px;
    height: 400px;
    transform-origin: 50% 47%;
    border-radius: 40%;
    animation: rotation 2.5s infinite linear;
  }



//マイプロフィールのテキスト
  #my-profile-txt {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 3;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 0.7rem;
    line-height: 2rem;
    letter-spacing: 0.15em;
    font-weight: bold;
    animation: text-fade 300ms infinite linear;
  }



//マイSNSリスト
  #my-sns-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 10;
  }

  .profile-links {
    list-style: none;
    .profile-link {
      font-size: 50px;
      display: inline-block;
      .fa-twitter-square {color:#D7F3FF;}
      .fa-facebook{color:#D7F3FF;}
      .fa-instagram{color:#D7F3FF;}
      .fa-youtube{color:#D7F3FF;}
    }
  }



//マイプロフィールの音声再生機能
  #audio-player-box {
    position: absolute;
    top: 50%;
    left: 5%;
  }

//音声タイトル回転アニメーション
  #sp-circle6 {
    left: -10%;
    top: 60%;
    z-index: 10;
    opacity: 0.4;
    position: absolute;
    background: #ba65fd;
    width: 500px;
    height: 500px;
    transform-origin: 50% 47%;
    border-radius: 50%;
    animation: rotation 10s infinite linear;
  }



//マイプロフィールのkeeper一覧
  #my-keeper-box {
    position: absolute;
    left: 15%;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
  }

  #sp-circle5 {
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    background: #5aa5f8;
    width: 600px;
    height: 600px;
    transform-origin: 50% 47%;
    border-radius: 50%;
    animation: rotation 10s infinite linear;
  }

  #my-keeper-list {
    position: absolute;
    z-index: 3;
    overflow: scroll;
    width: 200px;
    height: 400px;
  }

  .user-image {
    text-decoration: none;
  }

  @media screen and (max-width: 425px) {
    .sns-link {
      top: 0;
      transform: scale(0.5, 0.5);
    }
    .my-profile-image {
      transform: scale(0.5, 0.5);
      left: -100%;
    }
    #my-profile-box {
      top: 200px;
    }
    #sp-circle4 {
      width: 300px;
      height: 300px;
    }
    #my-profile-box {
      width: 300px;
      height: 300px;
    }
    #audio-player-box {
      top: 90%;
      z-index: 99;
    }
    #sp-circle5 {
      width: 350px;
      height: 350px;
    }
    #sp-circle6 {
      top: 90%;
      width: 200px;
      height: 200px;
    }
    #my-keeper-box {
      top: 95%;
      width: 350px;
      height: 350px;
    }
    #my-keeper-list {
      width: 200px;
      height: 200px;
      z-index: 99;
    }
  }
