// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//indexページ

  html,body {
    height: 100%;
  }

  #canvas-wrap {
    width: 100%;
    height: 100vh;
    position: relative;
  }



//スクロール
  .fullPageScroll {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    overflow-x: auto;
  }



//indexのアイコンアニメーション
  #container {
    width: 100%;
    height: 100vh;
  }



//ランダムに動くユーザーアイコン
//ユーザー顔丸
  .dots1,
  .dots2,
  .dots3,
  .dots4,
  .dots5,
  .dots6,
  .dots7,
  .dots8,
  .dots9,
  .dots10,
  .dots11,
  .dots12,
  .dots13,
  .dots14,
  .dots15,
  .dots16,
  .dots17
  {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  }


//セクション２の画像
  .bg-img-flex {
    list-style: none;
    display: flex;
    overflow-x: scroll;
  }

  .bg-img1,
  .bg-img2,
  .bg-img3
  {
    position: absolute;
    width: 100%;
    height: 100%;
  }



//ユーザーのプロフィールモーダル
  .modal{
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7777;
  }

  .modal___bg{
    background: #fff;
    opacity: 0.1;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 8888;
  }

  .modal___content{
    background: -webkit-linear-gradient(left, #ba65fd, #5aa5f8, #00d8ee);
    left: 50%;
    padding: 40px;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
    position: relative;
    z-index: 9999;
  }

  .namespace {
    position: absolute;
    margin: 20px;
    padding-left: 20px;
    z-index: 2;
  }

  .underbar {
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    z-index: 2;
  }

  .audiospace {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 2;
  }

  .sns-link {
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 2;
  }

  .sns-profile-links {
    list-style: none;
    .sns-profile-link {
      font-size: 50px;
      display: inline-block;
      margin: 15px;
      .fa-twitter-square {color:#D7F3FF;}
      .fa-facebook{color:#D7F3FF;}
      .fa-instagram{color:#D7F3FF;}
      .fa-youtube{color:#D7F3FF;}
    }
  }



//indexページ題字
  #canvas-txt {
    display: flex;
    position: absolute;
    left: 2%;
    top: 3%;
    letter-spacing: -5px;
    font-family: 'Josefin Sans', sans-serif;
    overflow: visible;
    z-index: 99999;
  }

  @supports (-webkit-background-clip: text) {
    #canvas-txt p {
      font-size: 100px;
      background: -webkit-linear-gradient(left, #ba65fd, #5aa5f8, #00d8ee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-top: 10px;
    }
  }

  .Loop17 {
    text-decoration:none !important;
    transition: 0.3s;
  }

  .Loop17:hover{
    transform: scale(1.1); /* 1.1倍に拡大 */
  }



//アバウトページのテキスト
  .about-heading {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.1em;
    top: 70%;
    left: 15%;
    font-style: oblique;
    animation: text-fade 300ms infinite linear
  }

  .about-box {
    position: absolute;
    left: 60%;
    padding: 10%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.30em;
    font-weight: bold;
    animation: text-fade 300ms infinite linear;
  }


//スクロールを促す矢印
  .rect {
    left: 50%;
    top: 80%;
    margin: 100px auto 0;
    color: #5aa5f8;
    position: absolute;
    z-index: 99999;
  }