@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.fullPageScroll {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start; }

.jump {
  position: absolute;
  left: 50%;
  top: 93%; }

html, body {
  height: 100%; }

#canvas-wrap {
  width: 100%;
  height: 100vh;
  position: relative; }

#canvas-txt {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 100%;
  height: 100%;
  letter-spacing: -5px;
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden; }

@supports (-webkit-background-clip: text) {
  #canvas-txt p {
    font-size: 80px;
    background: -webkit-linear-gradient(left, #ba65fd, #5aa5f8, #00d8ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; } }
#hamburger {
  position: relative;
  width: 100px;
  height: 100px;
  left: 75%;
  top: 10px;
  z-index: 10; }

#hamburger::after {
  border-radius: 40%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ee88aa, rgba(250, 238, 255, 0.3) 90%, rgba(250, 238, 255, 0.5));
  animation: color-fade 3s infinite linear; }

#circle1,
#circle2,
#circle3 {
  opacity: 0.4;
  position: absolute;
  background: #0af;
  width: 100px;
  height: 100px;
  transform-origin: 50% 47%;
  border-radius: 40%;
  animation: rotation 3s infinite linear; }

#circle2 {
  opacity: 0.2;
  background: #ff0;
  animation: rotation 5s infinite linear; }

#circle3 {
  animation: rotation 2.5s infinite linear; }

#hamburger-title {
  position: absolute;
  top: 33px;
  width: 100%;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  line-height: 2rem;
  letter-spacing: 0.15em;
  animation: text-fade 300ms infinite linear; }

/* 回転アニメーション */
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/* ピンク色の背景のアニメーション */
@keyframes color-fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.7; } }
/* 点滅のアニメーション */
@keyframes text-fade {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.8; }
  50% {
    opacity: 0.9; }
  75% {
    opacity: 0.6; } }
#sp-hamburger {
  display: none;
  position: relative;
  width: 400px;
  height: 400px;
  left: 45%;
  top: 40px;
  z-index: 10; }

#sp-hamburger::after {
  border-radius: 40%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ee88aa, rgba(250, 238, 255, 0.3) 90%, rgba(250, 238, 255, 0.5));
  animation: color-fade 3s infinite linear; }

#sp-circle1,
#sp-circle2,
#sp-circle3 {
  opacity: 0.4;
  position: absolute;
  background: #0af;
  width: 400px;
  height: 400px;
  transform-origin: 50% 47%;
  border-radius: 40%;
  animation: rotation 3s infinite linear; }

#sp-circle2 {
  opacity: 0.2;
  background: #ff0;
  animation: rotation 5s infinite linear; }

#sp-circle3 {
  animation: rotation 2.5s infinite linear; }

#sp-hamburger-title {
  position: absolute;
  top: 23px;
  width: 100%;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  line-height: 2rem;
  letter-spacing: 0.15em;
  animation: text-fade 300ms infinite linear; }

#sp-hamburger-title li {
  text-align: center;
  margin: 30px; }

#sp-hamburger-title a {
  color: #fff;
  text-decoration: none;
  font-weight: bold; }

/* 回転アニメーション */
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/* ピンク色の背景のアニメーション */
@keyframes color-fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.7; } }
/* 点滅のアニメーション */
@keyframes text-fade {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.8; }
  50% {
    opacity: 0.9; }
  75% {
    opacity: 0.6; } }
.dots {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.dots-img {
  position: absolute;
  border-radius: 50%;
  z-index: 1; }

.play-btn {
  display: none;
  position: absolute;
  color: #eb6100;
  cursor: pointer;
  z-index: 2; }

.my-profile-image {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 1; }

#my-profile-box {
  position: relative;
  width: 400px;
  height: 400px;
  left: 30%;
  top: 100px; }

#sp-circle4 {
  z-index: 2;
  opacity: 0.4;
  position: absolute;
  background: #0af;
  width: 400px;
  height: 400px;
  transform-origin: 50% 47%;
  border-radius: 40%;
  animation: rotation 3s infinite linear;
  animation: rotation 2.5s infinite linear; }

#my-profile-txt {
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 3;
  text-align: center;
  color: #999999;
  text-decoration: none;
  font-size: 0.7rem;
  line-height: 2rem;
  letter-spacing: 0.15em;
  font-weight: bold;
  animation: text-fade 300ms infinite linear; }

#my-sns-box {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 10; }

.profile-links {
  list-style: none;
  padding-right: 40px; }
  .profile-links .profile-link {
    font-size: 50px;
    display: inline-block;
    width: 20%;
    text-align: right; }
    .profile-links .profile-link .fa-twitter-square {
      color: #1da1f2; }
    .profile-links .profile-link .fa-facebook {
      color: #3b5998; }
    .profile-links .profile-link .fa-instagram {
      color: #e1306c; }
    .profile-links .profile-link .fa-youtube {
      color: #cd201f; }

#canvas-wrap {
  width: 100%;
  height: 100vh;
  position: relative; }

#audio-player-box {
  position: absolute;
  top: 50%;
  left: 5%; }

#sp-circle5 {
  left: -10%;
  top: 60%;
  z-index: 10;
  opacity: 0.4;
  position: absolute;
  background: #5aa5f8;
  width: 500px;
  height: 500px;
  transform-origin: 50% 47%;
  border-radius: 50%;
  animation: rotation 10s infinite linear; }

#edit-canvas {
  width: 100%;
  height: 100%;
  position: relative; }

.video-content {
  width: 100%;
  height: 100%;
  z-index: -100;
  position: absolute; }

.box1 {
  width: 400px;
  height: 400px;
  color: #999999;
  position: absolute;
  z-index: 1; }

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s; }

.popup.is-show {
  opacity: 1;
  visibility: visible; }

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2; }

.popup-inner img {
  width: 100%; }

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer; }

.close-btn i {
  font-size: 20px;
  color: #333; }

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer; }

/*# sourceMappingURL=users.css.map */
